#layout{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  
  grid-template-areas:
  'side header'
  'side mainContent'
  'side footer';
}


#header{
  grid-area: header;
  background-color: green;
}

#side{
  grid-area: side;
  background-color: blue;
}
#mainContent{
  grid-area: mainContent;
  background-color: red;
}
#footer{
  grid-area: footer;
  background-color: #000;
}